select {
    width: 500px;
    height: 30px;
    border: 1px solid #BD9579;
    font-size: 15px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

input {
    width: 170px;
    height: 20px;
    border: 1px solid #BD9579;
    font-size: 15px;
    color: #000000;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
}
i {
    font-size: 20px;
}