<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Объявления</title>
    <link rel="shortcut icon" href="emblem.png">
</head>
<style>
.button {
    background: #F9F2DC;
    border: #DBCFA9;
    height: 30px;
    width: 140px;
    border-radius: 3px;
   }
.button:hover {
    background-color: #B7A295;
    color: white;
}
i {
    font-size: 15pt;
}


</style>
<body>
<table align="center" width="100%" cellspacing="0" cellpadding="4">
    <tr>
        <th bgcolor="#F9F2DC" width="100%" height="60" colspan="4"><img src="emblem.png" align="right">
            <p align="left"><img src="for_main.png" align="center">
                <text><i>Учебная паутина</i></text>
            </p>
        </th>
    </tr>
    <tr>
        <th bgcolor="#DBCFA9" width="100%" height="40" colspan="4" align="right">
            <button class="button"><i>На главную</i></button>
    </tr>
    <tr>
        <th bgcolor="#ffffff" width="100%" height="90"></th>
    </tr>
    <tr>
        <td>
            <table bgcolor="#F9F2DC" width="100%">
                <tr>
                    <td><img src="uzor_2.png"></td>
                    <td align="center"><p><i>Добро пожаловать на сайт!</i></p>
                        <p>
                            <!--                            <video autoplay rel="preload" src="https://www.youtube.com/watch?v=tXxHxX7PKf8" width="400" controls="controls"></video>-->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/tXxHxX7PKf8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                    </td>
                    <td><img src="uzor_22.png"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th bgcolor="#ffffff" width="100%" height="80"></th>
    </tr>
    <tr>
        <th bgcolor="#F9F2DC" width="100%" height="30" colspan="3"></th>
    </tr>
    <tr>
        <th bgcolor="#DBCFA9" width="100%" height="15" colspan="3">
    </tr>
</table>
</body>
</html>