<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Дневник</title>
    <link rel="shortcut icon" href="emblem.png">
</head>
<style>
 .vertical span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.button {
    background: #F9F2DC;
    border: #DBCFA9;
    height: 30px;
    width: 140px;
    border-radius: 3px;
   }
.button:hover {
    background-color: #B7A295;
    color: white;
}
i {
    font-size: 15pt;
}



</style>
<body>
<table align="center" width="100%" cellspacing="0" cellpadding="4">
    <tr>
        <th bgcolor="#F9F2DC" width="100%" height="60" colspan="4"><img src="emblem2.png"
                                                                        align="right">
            <p align="left"><img src="for_main.png" align="center">
                <text><i>Учебная паутина</i></text>
            </p>
        </th>
    </tr>
    <tr>
        <th bgcolor="#DBCFA9" width="100%" height="40" colspan="4" align="right">
            <button class="button"><i>На главную</i></button>
    </tr>
    <tr><th align="center" colspan="4" height="50"><i>Выберите неделю  </i><input type='week'></th></tr>
    <tr>
        <th rowspan="4" bgcolor="#ffffff"><img src="for_diary.png"></th>
        <td>
            <table align="right" border="1" bgcolor="#e1c9b7"> <! Понедельник-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Понедельник</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td width="150" bgcolor="#ffffff"><i>параграф 12, № 12.1</i></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff" align="center"><i>5</i></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
        <td>
            <table align="left" border="1" bgcolor="#e1c9b7"> <! Четверг-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Четверг</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff" width="150"></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
        <th rowspan="3" bgcolor="#ffffff"><img src="for_diary 2.png"></th>
    </tr>
    <tr>
        <td>
            <table align="right" border="1" bgcolor="#e1c9b7"> <! Вторник-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Вторник</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff" width="150"></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
        <td>
            <table align="left" border="1" bgcolor="#e1c9b7"> <! Пятница-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Пятница</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff" width="150"></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table align="right" border="1" bgcolor="#e1c9b7"> <! Среда-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Среда</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff" width="150"></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
        <td>
            <table align="left" border="1" bgcolor="#e1c9b7"> <! Суббота-- -->
                <tr>
                    <th rowspan="8" bgcolor="#F9F2DC" width="20" class=vertical><span><i>Суббота</i></span></th>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff" width="150"></td>
                    <td width="30" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Алгебра</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физика</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Русский язык</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Литература</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Физкультура</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff"><i>Спецкурс по математике</i></td>
                    <td bgcolor="#ffffff"></td>
                    <td bgcolor="#ffffff"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><th height="20" colspan="4"></th></tr>
    <tr>
        <th bgcolor="#F9F2DC" width="100%" height="30" colspan="4"></th>
    </tr>
    <tr>
        <th bgcolor="#DBCFA9" width="100%" height="15" colspan="4">
    </tr>
</table>
</body>
</html>