<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="shortcut icon" href="emblem.png">
</head>
<style type="text/css">
.box {
      width: 560px;
      height: 20px;
      border: 1px solid #999;
      font-size: 16px;
      color: #c09a7f;
      background-color: #eee;
      border-radius: 3px;
      }
.button {
    background: #F9F2DC;
    border: #DBCFA9;
    height: 40px;
    width: 130px;
    border-radius: 3px;
   }
.button:hover {
    background-color: #B7A295;
    color: white;
}
body {
    background-color: #F9F2DC
   }
i {
    font-size: 15pt;
}
.letter {
    color: #b65340;
}

</style>
<body>
<table align="center" width="100%" cellspacing="0" cellpadding="19">
    <tr>
        <th width="100%" bgcolor="#F9F2DC" height="2" colspan="3"></th>
    </tr>
    <tr>
        <td bgcolor="#F9F2DC" width="30%" height="550"><img src="for_sing_in.png"
                                                            align="bottom"></td>
        <td bgcolor="#DBCFA9" align="center">
            <img src="for_main 2.png"><img src="for_main.png">
            <h2 align="top"><i>Учебная паутина</i></h2>
            <p align="left"><i>Регион</i></p>
            <select class="box">
                <option>Челябинская область</option>
                <option>Калининградская область</option>
                <option>Омская область</option>
            </select><br><br>
            <p align="left"><i>Город</i></p>
            <select class="box">
                <option>г. Миасс</option>
                <option>г. Озёрск</option>
                <option>г. Снежинск</option>
            </select><br><br>
            <p align="left"><i>Образовательная организация</i></p>
            <select class="box" id="schools">
                <option>МАОУ "Лицей №6"</option>
                <option>Школа №9</option>
                <option>Гимназия №8</option>
            </select><br><br>
            <i>Логин</i> <input type='text' id="surname"><br><br>
            <i>Пароль</i> <input type='password' id="password"><br><br>
            <button class="button" id="enter_button">
                <i>Войти</i>
            </button>
            <p><text class="letter"><i>* Логин или пароль введён некорректно</i></text></p>
        </td>
        <td bgcolor="#F9F2DC" width="30%"><img src="for_sing_in 2.png" align="right"></td>
    </tr>
    <tr>
        <th width="100%" bgcolor="#F9F2DC" height="2" colspan="3"></th>
    </tr>
</table>
</body>

<script src="sign.js" charset="utf-8" ></script>
</html>
