<!--<tr>-->
<!--    <th bgcolor="#DBCFA9" height="40" colspan="4" align="right">-->
<!--        <button class="button" id="back" onclick="window.location.href='admin_main.html'">-->
<!--            <i>В меню</i>-->
<!--        </button>-->
<!--</tr>-->
<tr>
    <th bgcolor="#DBCFA9" height="40" colspan="3">
</tr>
<tr>
    <td align="center">
        <img src="{{ url_for('static', path='/img/ads.jpg') }}" alt="" id="ads" style="vertical-align:middle"
             onclick="window.location.href='student_ads.html'">
    </td>

    <td align="center">
        <img src="{{ url_for('static', path='/img/reports.png') }}" alt="" style="vertical-align:middle"
             onclick="window.location.href='student_marks.html'">
    </td>

    <td align="center">
        <img src="{{ url_for('static', path='/img/diary.jpg') }}" alt="" style="vertical-align:middle"
             onclick="window.location.href='student_diary.html'">
    </td>
</tr>

<tr>
    <th height="20" colspan="3">
</tr>
<tr>
    <th bgcolor="#F9F2DC" height="30" colspan="3">
</tr>
<tr>
    <th bgcolor="#DBCFA9" height="15" colspan="3">
</tr>
