<tr>
    <th bgcolor="#DBCFA9" height="40" colspan="4" align="right">
        <button class="button" id="back">
            <i>На главную</i>
        </button>
</tr>
<tr>
    <td>
        <img align="left" src="{{ url_for('static', path='/img/for_diary.png') }}" alt="">
    </td>
    <td>
        <table align="center" bgcolor="#e1c9b7" border="1" width="100%">
            <tr>
                <td bgcolor="#ffffff"><i>Русский язык</i></td>
                <td align="center" bgcolor="#ffffff"></td>
                <td align="center" bgcolor="#ffffff"><i>5</i></td>
                <td align="center" bgcolor="#ffffff"><i>4</i></td>
                <td align="center" bgcolor="#ffffff"><i>4.5</i></td>
            <tr>
                <td bgcolor="#ffffff"><i>Математика</i></td>
                <td align="center" bgcolor="#ffffff"><i>3</i></td>
                <td align="center" bgcolor="#ffffff"></td>
                <td align="center" bgcolor="#ffffff"><i>4</i></td>
                <td align="center" bgcolor="#ffffff"><i>3.5</i></td>
            </tr>
            <tr>
                <td bgcolor="#ffffff"><i>Музыка</i></td>
                <td align="center" bgcolor="#ffffff"></td>
                <td align="center" bgcolor="#ffffff"><i>5</i></td>
                <td align="center" bgcolor="#ffffff"><i>4</i></td>
                <td align="center" bgcolor="#ffffff"><i>4.5</i></td>
            </tr>
        </table>
    </td>
    <th>
        <img align="right" src="{{ url_for('static', path='/img/for_diary 2.png') }}" alt="">
    </th>
</tr>

<tr>
    <th bgcolor="#ffffff" colspan="3" height="10" width="100%"></th>
</tr>

<tr align="bottom">
    <th bgcolor="#F9F2DC" colspan="3" height="30" width="100%"></th>
</tr>

<tr align="bottom">
    <th bgcolor="#DBCFA9" colspan="3" height="30" width="100%"></th>
</tr>
